*{
    margin:0;

}

.bar{
    width: 10px; 
    justify-self: space-around;
    border-radius : 4%;
    margin-left: 2px;
    margin-right: 2px;
}
.bar-div{
    background-color: #000000; 
    display: flex; 
    justify-content: space-around; 
    align-items: center; 
    width:85%; 
    height: 90vh;
    border-style: ridge;
    border-width: 1px;
    border-color : rgb(46, 46, 46);
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.button{
    height: 50px;
    color: #ffffff;
}
.selection{
    height:100%;
    background-color: #0087b4;
    outline : 0;
    border-radius : 0;
}
.mode{
    width: 12%;
    height: 500px;
    background-color: #0087b4; 
    border-radius: 0 10px 10px 0;
}
